// Typography

$font-size-base: 14px !default;
$font-family-base: sans !default;
$line-height-base: 1rem !default;

$action-outline-color: #000 !default;

$text-padding-small: 0.5em !default;
$text-padding-medium: 1em !default;
$text-padding-large: 2em !default;

$menu-background-color: #ffffff !default;
$menu-border-color: #888888 !default;
