.menu {
    background: $menu-background-color;
    border: 1px solid $menu-border-color;
    box-shadow: 0 0 66px 3px rgba(0,0,0,.2);
}

.menu__item {
    padding: $text-padding-small;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-align: left;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
}
